numpy
opencv-python
Pillow
matplotlib
pyyaml
scikit-learn
scikit-image
torch
torchvision
segment-anything
requests
diffusers
transformers
potrace
sknw
pydensecrf
opencv-contrib-python
segmentation-models-pytorch

