torch-geometric
git+https://github.com/openai/CLIP.git
transformers>=4.39
scikit-learn
networkx>=3.3
numpy
opencv-python
Pillow
matplotlib
pyyaml
scikit-image
torch>=1.12.0
torchvision
segment-anything
requests
diffusers
potracer
sknw
pydensecrf
opencv-contrib-python
segmentation-models-pytorch

